<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aaai</title>
</head>
<body>
    <h3>Reset your password here</h3>
    <form action="{% url 'reset' %}" method="POST">
        {% csrf_token %}
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>
        <label for="password1">Password1:</label><br>
        <input type="text" id="password1" name="password1" pattern=".{8,}" title="Password must be at least 8 characters long" required><br>
        <label for="password2">Password2:</label><br>
        <input type="text" id="password2" name="password2" pattern=".{8,}" title="Password must be at least 8 characters long" required><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>